/*
SECTION GLOBALS, LAYOUT
*/
body {                          /* global font setting */
    font-family: "Calibri", serif;
}
.column {                       /* 3-column layout */
    float: left;
    padding: 0;
}
.left, .right {
    width: 40%;
}
.middle {
    width: 20%;
    padding: 0;
}
.page_heading {
    margin: 5px 0 5px 50px;
}


/*
SECTION DIVS
*/
.chart_div {                    /* border surrounding whole chart with its parameters */
    width: 82%;
    margin: 5px auto;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}
.parameters_div {               /* border surrounding one-signal parameters */
    border-style: solid;
    border-radius: 10px;
    padding: 7px 15px;
    border-width: 2px;
}
.parameters_inside_div {        /* parameters itself (indentation) */
    margin: 5px 10px 0 10px;
}
.process_parameters_div {       /* border surrounding whole middle section with modulation/dithering parameters */
    width: 90%;
    margin: 5px auto;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
}
.l2_div_name {                  /* name of level 2 div (parameters div, ...) */
    font-weight: bold;
    font-size: larger;
}